doctype html
html(ng-app="raceTrackerApp", lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(type="text/javascript", src='/javascript/bower_components/angular/angular.js')
    script(type="text/javascript", src='/javascript/bower_components/angular-route/angular-route.js')
    block scripts